[Desktop Entry]
Type=Application
Version=0.1.0
Name=External Storage Manager
GenericName=Devices Indicator
NoDisplay=true
Comment=Indicator to manage devices
Icon=external-storage-manager
Exec=external-storage-manager
Categories=System;Utility;
Keywords=Mount;Eject;Devices;USB;SD;Card;
StartupNotify=true
